@import "tailwindcss";

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --foreground: #ededed;
    --font-rajdhani: "Rajdhani", sans-serif;
    --font-nyxerin: "NYXERIN", sans-serif;
  }
}
@layer utilities {
  .gradient-two {
    background: linear-gradient(134.63deg, #131610 2.07%, #121510 98.53%);
  }
  @media (min-width: 1090px) {
    .flex-xlg-row {
      flex-direction: row !important;
    }
  }
}

html,
body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

body {
  /* background: var(--secondary); */
  background: #000;
  color: var(--textOne);
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --text: #000000;
  --bg: #ffffff;
  --title: #007700;
  --subtitle: #333333;
  --border: #007700;
  --accent: #44cc44;

  --hover: #007700; /* ✅ darker green */
  --hoverBg: #e6ffe6; /* pale green */

  --overlay: rgba(0, 0, 0, 0.2); /* behind drawer */
  --surface: rgba(241, 241, 241, 0.95); /* drawer / modal panel */

  /* New UI theme */
  --primary: #c1ff00;
  --secondary: #0d1914;

  --textOne: #fbffe6;
  --textTwo: #a8a59b;
  --textThree: #11cc84;
  --textFour: #ff5a17;
  --textFive: #6146f9;
  --textSix: #4abed7;
  --textSeven: #006956;

  --textCommon: #49998c;
  --textRare: #5a8899;
  --textLegendary: #d4a574;

  --bg: #0d1914;
  --bgOne: #1d332b;
  --bgTwo: #2a3025;
  --bgThree: #1a1f15;
  --bgFour: #e23939;

  --borderOne: #115740;
  --borderTwo: #40453b;
  --borderThree: #2a2d27;
  --borderFour: #5c0000;
}

.dark {
  --text: #ffffff;
  --bg: #000000;
  --title: #00ff00;
  --subtitle: #cccccc;
  --border: #00ff00;
  --accent: #00ff88;

  --hover: #00ff88; /* ✅ accent shade for dark mode */
  --hoverBg: #003300; /* deep green */

  --overlay: rgba(0, 0, 0, 0.6);
  --surface: rgba(30, 30, 30, 0.95);

  /* New UI theme */
  --primary: #c1ff00;
  --secondary: #0d1914;

  --textOne: #fbffe6;
  --textTwo: #a8a59b;
  --textThree: #11cc84;
  --textFour: #ff5a17;
  --textFive: #6146f9;
  --textSix: #4abed7;
  --textSeven: #006956;

  --textCommon: #49998c;
  --textRare: #5a8899;
  --textLegendary: #d4a574;

  --bg: #0d1914;
  --bgOne: #1d332b;
  --bgTwo: #2a3025;
  --bgThree: #1a1f15;
  --bgFour: #e23939;

  --borderOne: #115740;
  --borderTwo: #40453b;
  --borderThree: #2a2d27;
  --borderFour: #5c0000;
}

.gradient-primary {
  background: linear-gradient(
    108.19deg,
    rgb(193 255 0 / 31%) 0%,
    rgb(13 25 20 / 74%) 47.88%
  );
}
.gradient-selected {
  background: linear-gradient(90deg, #30470f 0%, #213528 100%);
}
.gradient-one {
  background: linear-gradient(134.63deg, #131610 2.07%, #121510 98.53%);
}

.gradient-fill {
  background: linear-gradient(90deg, #3f3a28 0%, #24261a 100%);
}
.gradient-secondary {
  background: linear-gradient(134.63deg, #223012 2.07%, #1c291b 98.53%);
}
.gradient-three {
  background: linear-gradient(134.63deg, #363125 2.07%, #181d17 98.53%);
}

.gradient-five {
  background: linear-gradient(90deg, #ff8a27 100%, #ff5a27 0%);
}

.font-rajdhani {
  font-family: var(--font-rajdhani);
}

.font-nyxerin {
  font-family: var(--font-nyxerin);
}

*/ .dark-sec-btn {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  border: 1.5px solid white;
  cursor: pointer;
}

.dark-sec-btn:hover {
  background-color: white;
  color: black;
  border-color: black;
}

.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px var(--surface) inset !important;
  -webkit-text-fill-color: var(--text) !important;
  transition: background-color 5000s ease-in-out 0s;
}
